
.road {
    --road-length: 100;
    --offZ: calc( var(--camZ) - var(--z, 0) );
    --camX: calc( var(--offZ) * var(--bC, 0) );

    height: 100%;
    width: 100%;
    transform-style: preserve-3d;

    animation: travel linear;
    animation-timeline: scroll(root block);
}

.road-segment {
    /*
     * Variables
     */
    /* Segment Size */
    --segment-width: 150lvh;
    --segment-y: calc(var(--road-length) / var(--sc));
    --segment-height: calc(var(--segment-y) * 1lvh);
    --lip-height: 2lvh;
    /* Segment Positioning */
    --segment-top: calc(var(--lip-height) + (var(--segment-height) / 4 ));
    --segment-center: calc(var(--lip-height) + (var(--segment-height) / 2 ));

    /*
     * Base styles
     */
    position: absolute;
    left: 50%;
    bottom: 0;
    
    width: var(--segment-width);
    height: calc(var(--segment-height) + var(--lip-height));

    transform-style: preserve-3d;
    transform-origin: center bottom;

    /*
     * Positioning Math
     */
    /* Z (depth) offset of segment relative to screen */
    --offZ: calc( var(--z) - var(--camZ) );
    /* Segment X position */
    --posX: calc( var(--bX) - (var(--camX) * var(--offZ)) );
    /* X offset of bottom of segement relative to top */
    --offX: calc( var(--bX) - var(--tX) + var(--camX));
    /* Angle between top and bottom of segment */ 
    --skew: atan( var(--offX) / var(--segment-y) );

    /*
     * Positioning
     */
    transform:
        rotateX(90deg)
        translate3d(
            /* calc(-50% + (var(--bX) * 1lvh)), */
            calc(-50% + (var(--posX) * 1lvh)),
            calc(var(--offZ) * (0lvh - var(--segment-height))),
            0
        )
        skew(var(--skew));
}
