
.road {
    height: 100%;
    transform-style: preserve-3d;
    perspective: inherit;
}


.road-segment {
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 5lvh;
    background: red;

    transform:
        rotateX(90deg)
        translateY(calc(var(--i) * -5lvh));

    transform-style: preserve-3d;
    transform-origin: bottom;
}

