
.road {
    /*
     * Variables
     */
    --offZ: calc( var(--camZ) - var(--bZ, 0) );
    --camX: calc( var(--offZ) * var(--bC, 0) );
    /* Segment Size */
    --segment-width: calc((var(--sW) * 1lvh));
    --segment-height: calc(var(--sH) * 1lvh);
    --segment-length: calc(var(--sV) * 1lvh);
    --lip-height: calc(var(--sL) * 1lvh);

    /*
     * Base Styles
     */
    position: absolute;
    left: 50%;
    translate: -50%;

    height: 100%;
    width: var(--segment-width);
    transform-style: preserve-3d;
}

.road-segment {
    /*
     * Base styles
     */
    position: absolute;
    left: 50%; bottom: 0;
    
    width: calc(100% / var(--scale));
    height: var(--segment-height);

    transform-style: preserve-3d;
    transform-origin: center bottom;
    backface-visibility: hidden;

    /* Gives segments a rounded lip to hide joins */
    overflow: hidden;
    border-radius: 50% 50% 0 0 / 
        var(--lip-height) var(--lip-height) 0 0;

    /*
     * Positioning Math
     */
    /* Z (depth) offset of segment relative to screen */
    --posZ: calc( var(--myZ) - var(--camZ) );
    /* Segment X position */
    --posX: calc( (var(--bX) - (var(--camX) * var(--posZ))) / var(--scale) );
    /* X offset of bottom of segement relative to top */
    --offX: calc( (var(--bX) - var(--tX) + var(--camX)) / var(--scale));
    /* Angle between top and bottom of segment */ 
    --skew: atan( var(--offX) / var(--sV) );

    /*
     * Positioning
     */
    will-change: transform;
    transform:
        scale(var(--scale))     /* Apply segment scale */
        rotateX(90deg)          /* Rotate to ground plane */
        translate3d(            /* Move segment */
            calc((-50% / var(--scale)) + (var(--posX) * 1lvh)),
            calc(var(--posZ) * (0lvh - var(--segment-length))),
            0
        )
        skew(var(--skew));      /* Skew segment to align road angle */
}

/* .road :nth-child(1 of .road-segment) {} */

/* Makes the last road segment stretch to cover the end gap */
.road-segment:last-child {
    border-radius: 0;
    height: calc(
        var(--segment-height) + (var(--segment-length) * var(--offZ))
    );
}
