
.road-segment {
    /* Colours */
    --tarmac-light: #292929;
    --tarmac-dark: #222;
    --gutter-line: #DDD;
    --lane-line: #F7B500;
}

.road-segment .road-texture {
    position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    height: 100%; 
}
.road-segment .road-tarmac-light {
    fill: var(--tarmac-light);
}
.road-segment .road-tarmac-dark {
    fill: var(--tarmac-dark);
}
.road-segment .road-lane-line {
    fill: var(--lane-line);
}
.road-segment .road-edge-line {
    fill: var(--gutter-line);
}
