
.road-segment {
    /* Colours */
    --tarmac: #292929;
    --dark: #222;
    --gutter: #DDD;
    --line: #F7B500;
    
    /* Textures */
    --edge-lines: 
        linear-gradient(90deg, 
            transparent 2%, 
            var(--gutter) 2% 5%, 
            transparent 5% 95%, 
            var(--gutter) 95% 98%, 
            transparent 98%
        );
    --lane-lines:
        linear-gradient(
            transparent 25%,
            var(--line) 25% 75%,
            transparent 75%
        );
    --road-surface:
        linear-gradient(
            var(--tarmac) var(--segment-center),
            var(--dark) var(--segment-center)
        ); 

    /* Basic background */
    background: 
        var(--edge-lines), 
        var(--lane-lines) 50% var(--lip-height) / 2% var(--segment-height) repeat-y, 
        var(--road-surface);
}
