
.sprite {
    /* Variables */
    --cam-distance: calc(var(--z) - (var(--camZ)));
    --posZ: calc( var(--z) - var(--camZ) );
    --posX: calc( (var(--x) - (var(--camX) * var(--posZ))) );
    /* Positioning and Size */
    position: absolute;
    inset: 0;
    transform: 
        translate3d(
            calc((var(--posX) * 1lvh)),
            0,
            calc(var(--cam-distance) * (var(--sL) * -1lvh))
        );
    /* Fade in */
    opacity: clamp(0, calc((var(--maxZ) - 1) - var(--cam-distance)), 1);
}
