
* {
  scrollbar-width: thin;
  font-family: "Roboto", serif;
}

#root {
  width: 100%;
  height: 100lvh;
}

html {
  image-rendering: pixelated;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth; 
}

