
/* Prevents window scroll when modal is open. */
html:has( .modal-backdrop) {
    overflow: hidden;
}

/*
 * Base Styles
 */
 :root {
    --modal-bg: #00000099;
    --modal-content-bg: aliceblue;
    --modal-padding: 10px;
    --modal-border-radius: 15px;
    --modal-shadow: 0 0 15px black;
    --modal-header-border: 1px solid lightgrey;
    --modal-close-hover-bg: lightcoral;
}

.modal-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 99;
    background-color: var(--modal-bg);
    backdrop-filter: blur(10px);
}

.modal {
    position: relative;
    width: 500px;
    max-width: 100%;
    border-radius: var(--modal-border-radius);
    background-color: var(--modal-content-bg);
    box-shadow: var(--modal-shadow);
}

.modal h3 {
    text-align: center;
    border-bottom: var(--modal-header-border);
    font-size: large;
    padding: var(--modal-padding);
}

.modal .closeBtn {
    position: absolute;
    top: 0; right: 0;
    border: none;
    border-radius: 0 var(--modal-border-radius) 0 0;
    background: none;
    font-size: large;
    font-weight: bold;
    padding: var(--modal-padding) var(--modal-border-radius);
    border-left: var(--modal-header-border);
    user-select: none;
}

.modal .closeBtn:hover {
    background: var(--modal-close-hover-bg);
}

.modal .content {
    padding: var(--modal-padding);
}
