
.road-sign {
    --sign-color: white;
    --sign-background: #389C81;

    position: absolute;
    top: 50%; left: 35%;

    color: var(--sign-color);
    background-color: var(--sign-background);

    transform: translate3d(
        -50%,
        -50%,
        calc((var(--z) - (var(--camZ))) * (0lvh - 5lvh))
    );
}

.sign-content {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--sign-color);
}

.sign-header {
    align-self: flex-end;
    margin: -7px -7px 0 0;
    padding: 0 5px 0 5px;
    border-radius: 10px;
    border: 2px solid var(--sign-color);
}

.skills-list {
    list-style: none;
}