
.view3d {
    position: absolute;
    top: 0; 
    left: 0;
    width: var(--w);
    height: var(--h);
    touch-action: pan-y;

    --seed: 1.008;
    
    --magic-number: calc(var(--seed) + ((var(--perspective) - 1) / 100));
    --horizon-point: center calc((100 - (var(--horizon) * var(--magic-number, 1))) * 1vh);

    transform-style: preserve-3d;
    perspective: calc(var(--perspective) * 1lvh);
    perspective-origin: var(--horizon-point);
}
