 
.road-sign {
    --sign-color: white;
    --sign-background: #389C81;

    position: absolute;
    top: 25%; left: 50%;
    width: min(100%, 100lvh);

    color: var(--sign-color);
    background-color: var(--sign-background);
    font-size: 2em;

    transform: translate3d(
        -50%,
        -50%,
        calc((var(--z) - (var(--camZ))) * (0lvh - 5lvh))
    );
}

.sign-header {
    align-self: flex-end;
    padding: 0 10px;
    border-radius: 10px;
    text-transform: uppercase;
    border: 2px solid var(--sign-color);
    translate: 12px -12px;
}

.sign-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 1px;
    border-radius: 10px;
    border: 2px solid var(--sign-color);
}
